        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: sans-serif;
            background: #D5F9DE;
        }

        .wrapper {
            text-align: center;
        }

        .result {
            margin-bottom: 20px;
            padding: 10px 20px;
            background: #8AA399;
            color: #fff;
            font-size: 22px;
            border-radius: 10px;
            min-height: 30px;
        }

        .container {
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0 auto;
        }

        .row {
            display: flex;
            gap: 10px;
        }

        .box {
            background-color: #8FA6CB;
            color: #D5F9DE;
            width: 90px;
            height: 90px;
            font-size: 30px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s;
        }

        .box:hover {
            background-color: #7D84B2;
        }

        .win-box {
            background: #7D84B2;
            color: #D5F9DE;
            transform: scale(1.05);
            box-shadow: 0 0 15px #8FA6CB;
        }

        .reset-btn {
            margin-top: 20px;
            padding: 10px 25px;
            font-size: 18px;
            background: #8AA399;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s;
        }

        .reset-btn:hover {
            background: #6a7c75;
        }